/* tooltip */
    /* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

    /* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 500px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

    /* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: 0px;

    /* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

	/* Tooltip arrow */
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

	/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

	/* shelterSuccess */
#sheltersuccess {
	text-align: center;
	background: #e2ffcd;
}

#shelterfound {
	padding-top: 20px;
}

/* Field settings */
#fieldorder {
    margin: 16px auto;
    padding: 4px;
    border: 1px solid #9ec690;
    background-color: #e2ffcd;
    border-radius: 4px;
    max-width: 600px;
    position: relative;
}

/* field sort color fix */
#field_field>div.field>.fieldmon.cormyr>img {
    background-color: rgba(243,240,189,0.8)!important;
    border-radius: 4px;
    animation: cormyr 2s infinite;
    animation-delay: inherit;
}

#field_field>div.field>.fieldmon.goaway>img {
    background-color: rgba(243,181,208,0.8)!important;
    border-radius: 4px;
    animation: goaway 2s infinite;
    animation-delay: inherit;
}

/* sort by berry */
.qolAnyBerry {
	left: 0%!important;
	top: 45%!important;
	margin: -10px!important;
	transition: none!important;
}
.qolAnyBerry>img.big {
	animation: none!important;
	padding: 25px!important;
}
.qolSourBerry {
	left: 0%!important;
	top: 45%!important;
	margin: -10px!important;
	transition: none!important;
}
.qolSourBerry>img.big {
	animation: none!important;
	padding: 25px!important;
}

.qolSpicyBerry {
	left: 20%!important;
	top: 45%!important;
	margin: -10px!important;
	transition: none!important;
}

.qolSpicyBerry>img.big {
	animation: none!important;
	padding: 25px!important;
}

.qolDryBerry {
	left: 40%!important;
	top: 45%!important;
	margin: -10px!important;
	transition: none!important;
}

.qolDryBerry>img.big {
	animation: none!important;
	padding: 25px!important;
}

.qolSweetBerry {
	left: 60%!important;
	top: 45%!important;
	margin: -10px!important;
	transition: none!important;
}

.qolSweetBerry>img.big {
	animation: none!important;
	padding: 25px!important;
}

.qolBitterBerry {
	left: 80%!important;
	top: 45%!important;
	margin: -10px!important;
	transition: none!important;
}
.qolBitterBerry>img.big {
	animation: none!important;
	padding: 25px!important;
}

/* sort in middle */
.qolSortMiddle {
	left: 40%!important;
	top: 35%!important;
	margin: -10px!important;
	transition: none!important;
}

.qolSortMiddle>img.big {
	animation: none!important;
	padding: 40px!important;
}

/* shelter grid sort */
.qolshelterareagrid {
    min-height: 350px;
    display: flex!important;
	flex-direction:row;
    flex-flow: row wrap;
    display: grid!important;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 70px);
}
.qolshelterareagridmq2 {
    min-height: 175px;
    grid-template-rows: repeat(5, 35px);
}
.qoltooltipgrid {
    position: absolute;
    bottom: 0;
    transform: translate(0, 100%);
}
.qolpokemongrid {
    position: static;
    flex: 1 1 16%;
    display: inline-block!important;
    display: inline-flex!important;
    justify-content: center;
    align-items: center;
}
#shelterpage #shelter #shelterarea:before {
    display: none;
}



/* field sort in grid */
.qolGridField {
    min-height: 345px;
    display: flex!important;
    flex-flow: row wrap;
    display: grid;
    grid-template-columns: repeat(8,12.5%);
    grid-template-rows: repeat(5,69px);
	padding-top: 0%!important;
}

.mq25 .qolGridField {
	min-height: 180px;
	grid-template-rows: repeat(5, 36px);
}

.qolGridPokeSize {
    margin: 0 !important;
    position: static!important;
    flex: 1 1 12.5%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.qolGridPokeImg {
    max-width: 75px;
    max-height: 70px;
	animation: none!important;
}

/* Settings Hub */
.qolHubSuperHead:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
} 

.qolHubHead {
    background-color: #d2e8af;
    border-bottom: 1px solid #9ec690;
    color: #004000;
    text-align: center;
    padding: 4px;
    margin: 0;
	text-align: center;
}

.qolAllSettings {
	width: 315px;
	height: 100%;
	border: 1px solid #9ec690;
	border-top: none;
	vertical-align: top;
}

.qolChangeLog {
	width: 315px;
	height: 100%;
	border: 1px solid #9ec690;
	border-top: none;
}

.qolAllSettings>ul {
	list-style-type: none;
	padding: 0px;
	vertical-align: top;
}

.qolHubTable {
	border-spacing: 0px 0px;
	border-collapse: collapse;
}

.qolChangeLogList {
    color: #004000;
    text-align: left;
    padding: 4px;
    margin: 0;
	text-align: center;
}

.qolChangeLogContent {
	background-color: #e2ffcd;
	list-style-type: disc;
	display: none;
}

.expandlist {
	font-size: 16px;
	text-align: center;
	list-style-type: none;
}

.qolChangeLogHead {
	border: 1px solid #9ec690;
	margin: 0px;
}