<ul class="qolEvolveTypeList">
	<li class="expandlist"><h3 class='slidermenu'>Normal</h3>
		<ul class='normal 0 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Fire</h3>
		<ul class='Fire 1 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Water</h3>
		<ul class='Water 2 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Electric</h3>
		<ul class='Electric 3 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Grass</h3>
		<ul class='Grass 4 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Ice</h3>
		<ul class='Ice 5 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Fighting</h3>
		<ul class='Fighting 6 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Poison</h3>
		<ul class='Poison 7 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Ground</h3>
		<ul class='Ground 8 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Flying</h3>
		<ul class='Flying 9 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Psychic</h3>
		<ul class='Psychic 10 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Bug</h3>
		<ul class='Bug 11 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Rock</h3>
		<ul class='Rock 12 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Ghost</h3>
		<ul class='Ghost 13 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Dragon</h3>
		<ul class='Dragon 14 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Dark</h3>
		<ul class='Dark 15 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Steel</h3>
		<ul class='Steel 16 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Fairy</h3>
		<ul class='Fairy 17 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist"><h3 class='slidermenu'>Unknown Types</h3>
		<ul class='Unknown 18 qolChangeLogContent'>	
		</ul>
	</li>
</ul>
