<ul class="qolEvolveTypeList">
	<li class="expandlist">Normal
		<ul class='normal 0 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Fire
		<ul class='Fire 1 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Water
		<ul class='Water 2 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Electric
		<ul class='Electric 3 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Grass
		<ul class='Grass 4 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Ice
		<ul class='Ice 5 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Fighting
		<ul class='Fighting 6 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Poison
		<ul class='Poison 7 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Ground
		<ul class='Ground 8 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Flying
		<ul class='Flying 9 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Psychic
		<ul class='Psychic 10 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Bug
		<ul class='Bug 11 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Rock
		<ul class='Rock 12 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Ghost
		<ul class='Ghost 13 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Dragon
		<ul class='Dragon 14 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Dark
		<ul class='Dark 15 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Steel
		<ul class='Steel 16 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Fairy
		<ul class='Fairy 17 qolChangeLogContent'>
		</ul>
	</li><br>
	<li class="expandlist">Unknown Types
		<ul class='Unknown 18 qolChangeLogContent'>	
		</ul>
	</li>
</ul>
