<ul class="qolEvolveTypeList">
	<li class="expandlist qolChangeLogContent">Normal
		<ul class='normal'>
			<li>Poké</li>
		</ul>
	</li>
	<li class="expandlist qolChangeLogContent">Fire
		<ul class='Fire'>
			<li>Poké</li>
		</ul>
	</li>
	<li class="expandlist qolChangeLogContent">Water
		<ul class='Water'>
			<li>Poké</li>
		</ul>
	</li>
	<li class="expandlist qolChangeLogContent">Electric
		<ul class='Electric'>
			<li>Poké</li>
		</ul>
	</li>
	<li class="expandlist qolChangeLogContent">Grass
		<ul class='Grass'>
			<li>Poké</li>
		</ul>
	</li>
	<li class="expandlist qolChangeLogContent">Ice
		<ul class='Ice'>
			<li>Poké</li>
		</ul>
	</li>
	<li class="expandlist qolChangeLogContent">Fighting
		<ul class='Fighting'>
			<li>Poké</li>
		</ul>
	</li>
	<li class="expandlist qolChangeLogContent">Poison
		<ul class='Poison'>
			<li>Poké</li>
		</ul>
	</li>
	<li class="expandlist qolChangeLogContent">Ground
		<ul class='Ground'>
			<li>Poké</li>
		</ul>
	</li>
	<li class="expandlist qolChangeLogContent">Flying
		<ul class='Flying'>
			<li>Poké</li>
		</ul>
	</li>
	<li class="expandlist qolChangeLogContent">Psychic
		<ul class='Psychic'>
			<li>Poké</li>
		</ul>
	</li>
	<li class="expandlist qolChangeLogContent">Bug
		<ul class='Bug'>
			<li>Poké</li>
		</ul>
	</li>
	<li class="expandlist qolChangeLogContent">Rock
		<ul class='Rock'>
			<li>Poké</li>
		</ul>
	</li>
	<li class="expandlist qolChangeLogContent">Ghost
		<ul class='Ghost'>
			<li>Poké</li>
		</ul>
	</li>
	<li class="expandlist qolChangeLogContent">Dragon
		<ul class='Dragon'>
			<li>Poké</li>
		</ul>
	</li>
	<li class="expandlist qolChangeLogContent">Dark
		<ul class='Dark'>
			<li>Poké</li>
		</ul>
	</li>
	<li class="expandlist qolChangeLogContent">Steel
		<ul class='Steel'>
			<li>Poké</li>
		</ul>
	</li>
	<li class="expandlist qolChangeLogContent">Fairy
		<ul class='Fairy'>
			<li>Poké</li>
		</ul>
	</li>
</ul>