<div id ="fieldsearch">
	<h4>Advanced Field search</h4>
	<p> Check the boxes of Pokémon you wish to find in this field! You can select multiple checkboxes at once and it will notify you whenever it will find the types of Pokémons you selected!</p>
	<table>
		<tbody>
			<tr>
				<td>
					<label>
						<input type="checkbox" class="qolsetting" data-key="fieldNewPokemon"/>New Pokémon
					</label>
				</td>
				<td>
					<label>
						<input type="checkbox" class="qolsetting" data-key="fieldShiny"/>Shiny
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<label>
						<input type="checkbox" class="qolsetting" data-key="fieldAlbino"/>Albino
					</label>
				</td>
				<td>
					<label>
						<input type="checkbox" class="qolsetting" data-key="fieldMelanistic"/>Melanistic
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<label>
						<input type="checkbox" class="qolsetting" data-key="fieldPrehistoric"/>Prehistoric
					</label>
				</td>
				<td>
					<label>
						<input type="checkbox" class="qolsetting" data-key="fieldDelta"/>Delta
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<label>
						<input type="checkbox" class="qolsetting" data-key="fieldMega"/>Mega
					</label>
				</td>
				<td>
					<label>
						<input type="checkbox" class="qolsetting" data-key="fieldStarter"/>Starter
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<label>
						<input type="checkbox" class="qolsetting" data-key="fieldCustomSprite"/>Custom Sprite
					</label>
				</td>
				<td>
					<label>
						<input type="checkbox" class="qolsetting" data-key="fieldItem"/>Holds Item
					</label>
				</td>
			</tr>
		</tbody>
	</table>
	<h4>Search on type</h4>
	<p>Select which types of Pokémon you wish to find</p>
	<input type='button' value='Add typesearch' id='addFieldTypeList'>
	<div id="fieldTypes">
	<div class='0'></div>
	</div>
	<h4>Search on nature</h4>
	<p>Select which natures of Pokémon you wish to find</p>
	<input type='button' value='Add naturesearch' id='addFieldNatureSearch'>
	<div id="natureTypes">
	<div class='0'></div>
	</div>
	<h4>Custom Search</h4>
	<p>Here you can custom find any Pokémon you want! Hover over "Custom Search Help" for more info.</p>
	<div class="tooltip">Custom Search Help
		<span class="tooltiptext">
			Custom search by Pokémon name
			<br>
			<br>
			Select Search on items and/or Custom Pokémon and type the name of the Pokémon/item you wish to find to find that Pokémon or the item. If you want to find a Pokémon with a specific gender, select the gender you wish to find.
			<br>
			<br>
			Custom search by image code
			<br>
			<br>
			Select By img code to find a Pokémon by img code. For example you wish to find a Bulbasaur. You paste it's Img code in the search bar:
			<br>
			//pfq-static.com/img/pkmn/1/g/g.png/t=1474027727
			<br>
			and now it will show you when a Bulbasaur is found! Copy paste the complete link (starting from //) or you won't find anything.
			<br>
			<br>
			More info on finding Pokémon with their img code:
			<br>
			<br>
			<a href="https://pokefarm.com/forum/thread/127552/Site-Skins-How-To-and-Helpful-CSS>"Pokémon Modifications" > "Make Shelter Pokemon Stand Out"</a>
		</span>
	</div>
	
		<table>
	    <tbody>
	        <tr>
	            <td>
	                <label>
	                    <input type="checkbox" class="qolsetting" data-key="fieldCustomPokemon"/>Custom Pokémon
	                </label>
	            </td>
				<td>
	                <label>
	                    <input type="checkbox" class="qolsetting" data-key="fieldCustomPng"/>By img code
	                </label>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <label>
	                    <input type="checkbox" class="qolsetting" data-key="customItem"/>Search on items
	                </label>
	            </td>
	        </tr>
	    </tbody>
	</table>
	<p>Gender</p>
	<table>
		<tbody>
			<tr>
				<td>
					<label>
						<input type="checkbox" class="qolsetting" data-key="fieldMale"/>Male
					</label>
				</td>
				<td>
					<label>
						<input type="checkbox" class="qolsetting" data-key="fieldFemale"/>Female
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<label>
						<input type="checkbox" class="qolsetting" data-key="fieldNoGender"/>Genderless
					</label>
				</td>
			</tr>
		</tbody>
	</table>
	
    <p>Search Keys</p>
	<input type='button' value='Add searchfield' id='addFieldSearch'>
    <div id="searchkeys">
		<div class='0'></div>
	</div>
</div>