<div id="labCustomSearch" class="center">
	<p class='boldp'>Egg type search</p>
	<p>Select which egg types you would like to find in the lab. You can select multiple!</p>
	<input type='button' value='Add typesearch' id='addLabTypeList'>
	<div id="labTypes">
		<div class='0'></div>
	</div>

	<p class='boldp'>Egg custom search</p>
	<p>Add the pokemon name that you would like to find in the lab in a searchfield. You can select multiple!</p>
	<input type='button' value='Add searchfield' id='addLabSearch'>
	<div id="searchkeys">
		<div class='0'></div>
	</div>
</div>