<div class="dialog">
	<div>
		<div>
			<div>
				<h3 class="qolHubHead qolHubSuperHead">Quality of Life userscript Hub</h3>
				<div>
					<p>Welcome to the user hub of the QoL userscript! Here you can adjust the script settings and view the latest changes to the script.</p>
					<div>
						<table class="qolHubTable"">
							<tbody>
								<tr>
									<td>
										<h3 class="qolHubHead">Settings</h3>
									</td>
									<td>
										<h3 class="qolHubHead">Change log</h3>
									</td>
								</tr>
								<tr>
									<td class="qolAllSettings">
										<ul>
										<li>
											<label>
												<input type="checkbox" class="qolsetting" data-key="shelterEnable"/>
												<span>
													Advanced Shelter Search
												</span>
											</label>
										</li>
										<li>
											<label>
												<input type="checkbox" class="qolsetting" data-key="releaseSelectAll"/>
												<span>
													Release/Fishing select all
												</span>
											</label>
										</li>
										<li>
											<label>
												<input type="checkbox" class="qolsetting" data-key="fieldSort"/>
												<span>
													Sort Fields
												</span>
											</label>
										</li>
										<li>
											<label>
												<input type='checkbox' class='qolsetting' data-key='partyMod'/>
												<span>
													Party click mod
												</span>
											</label>
										</li>
										<li>
											<label>
												<input type='checkbox' class='qolsetting' data-key='easyEvolve'/>
												<span>
													Easy evolving
												</span>
											</label>
										</li>
										<li>
											<label>
												<input type='checkbox' class='qolsetting' data-key='labNotifier'/>
												<span>
													Lab Notifier
												</span>
											</label>
										</li>
										</ul>
									</td>
									<td class="qolChangeLog">
										<ul class="qolChangeLogList">
											<li class="expandlist"><h3 class="slidermenu qolChangeLogHead">V 1.3.0 - 26/01/2019</h3>
												<ul class="qolopencloselist qolChangeLogContent">
													<li>Advanced Shelter Search: Added feature to search Pokémon and/or eggs on their types!</li><br>
													<li>Advanced Shelter Search: Custom search isn't case sensitive anymore, capital letters or not doesn't matter anymore!</li><br>
													<li>Lab Notifier: New feature! You can now 'search' the lab eggs so you're sure not to miss an egg that you really want to have (for example a ditto egg in the lab) or you can search the lab on Pokémon types, for typeraces for example.</li><br>
												</ul>
											</li>
											<li class="expandlist"><h3 class="slidermenu qolChangeLogHead">V 1.2.0 - 18/01/2019</h3>
												<ul class="qolopencloselist qolChangeLogContent">
													<li>Oh yeah baby, I have an awesome function for you! Now in the farm evolve list all the Pokémons that can evolve will be categorized on types!! No more endless searching which Pokémon has which type. Standard setting is based on my Pokédex data. Open the Pokédex one time to update your own data. Happy wishforge hunting :)</li><br>
													<li>NOTE: Known issues with the new feature: Quick evolve doesn't function & clicking on a pokemon closes the selected type list. To evolve your Pokémons: 'Right-click' > 'open on new tab' and then evolve. I'm looking for a fix.</li><br>
													<li>Shelter search: now when you adopted a new egg you won't get notified in the shelter when you find this egg. Before it would still notify you found a new egg because it wasn't hatched yet. When you find multiple new eggs you still have to watch out that you don't adopt the 'new' egg that you just adopted and haven't hatched yet. This was a pain in the ass to test with adoption limits etc. Please let me know if you have any issues.</li><br>
													<li>New: added party click modifications menu to change the css on the mass party click list. For now there are 3 options: 'only hide disliked berries', 'show party in a table & hide disliked berries' & 'hide everything mass click super fast'.</li><br>
												</ul>
											</li>
											<li class="expandlist"><h3 class="slidermenu qolChangeLogHead">V 1.1.5 - 12/01/2019</h3>
												<ul class="qolopencloselist qolChangeLogContent">
													<li>Shelter Search has been upgraded, you can now search multiple custom pokémons at once! Beware, having to many pokémons to search for can be a bit laggy. I rewrote the code, in my tests everything worked but if you encounter a bug let me know.</li><br>
													<li>Added a 'sort to grid' option in the shelter.</li><br>
													<li>QoL menus: All the added menus are now respecting your site skin colors!</li><br>
													<li>Fixed a few bugs in the fields section. Private view works now after selecting an option, Pokémon click counter now updates on keypresses & berry like/dislike colors are now fixed. Hopefully fixed the 'align to grid' option.</li><br>
													<li>Fixed auto update, didn't process the script versions right.</li><br>
												</ul>
											</li>
											<li class="expandlist"><h3 class="slidermenu qolChangeLogHead">V 1.1.0 - 11/01/2019</h3>
												<ul class="qolopencloselist qolChangeLogContent">
													<li>Added various field sorter features on the fields page. For now you can sort Pokémons on berries, in the middle or in a grid.</li><br>
													<li>Added Pokémon click counter on fields. Especially handy for fields that only have 1 type of Pokémon in a field.</li><br>
													<li>Userscript has it's own settings page now and removed itself from the farm tab. Altogether with a change log. Yeeey</li><br>
													<li>Moved the shelter search menu for better access and view.</li><br>
													<li>Changed some code around to make it easier to implement new features. Like how the user settings are safed and stuff.</li><br>
													
												</ul>
											</li>
											<li class="expandlist"><h3 class="slidermenu qolChangeLogHead">V 1.0.0 - 08/01/2019</h3>
												<ul class="qolopencloselist qolChangeLogContent">
													<li>complete script rewrite, now using jQuery.</li></br>
													<li>Advanced Shelter Search rewritten. Can now search on Pokémon with Custom Sprites and on Pokémon name instead of only with image code.</li></br>
													<li>Select All checkbox added on field mass release & fishing.</li></br>
													<li>Userscript prompts the user when there is an update available for the script.</li></br>
												</ul>
											</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<h3 class="qolHubHead">Css Settings</h3>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<span>Add your custom css! If you have an error in your css you won't get notified, so read your code carefully. If you haven't made an error in your css try to use '!important' (example: background-color: yellow!important;). The custom css is being loaded after the page loads, so it's possible that there will be a short delay before the css is changed. To change the css of the script refer to this stylesheet and change what you want to change here in the textarea. <a href="https://github.com/KaizokuBento/PokeFarmQoL/blob/master/resources/css/pfqol.css" target=\"_blank\">Qol Userscript StyleSheet</a></span>
									</td>
								</tr>
								
								<tr>
									<td colspan="2" class="qolAllSettings">
										<div class='textareahub'></div>
									</td>
								<tr>	
							</tbody>
						</table>
					</div>
				</div>
				<p class='closeHub'>Close</p>
			</div>
		</div>
	</div>
</div>