<div id = shelteroptionsqol>
	<p> Check the boxes of Pokémon you wish to find in the shelter!</p>
	<table>
		<tbody>
			<tr>
				<td>
					<label>
						<input type="checkbox" id="chkNewEgg"/>New Egg
					</label>
				</td>
				<td>
					<label>
						<input type="checkbox" id="chkNewPokemon"/>New Pokémon
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<label>
						<input type="checkbox" id="chkShiny"/>Shiny
					</label>
				</td>
				<td>
					<label>
						<input type="checkbox" id="chkAlbino"/>Albino
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<label>
						<input type="checkbox" id="chkMelanistic"/>Melanistic
					</label>
				</td>
				<td>
					<label>
						<input type="checkbox" id="chkPrehistoric"/>Prehistoric
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<label>
						<input type="checkbox" id="chkDelta"/>Delta
					</label>
				</td>
				<td>
					<label>
						<input type="checkbox" id="chkMega"/>Mega
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<label>
						<input type="checkbox" id="chkStarter"/>Starter
					</label>
				</td>
				<td>
					<label>
						<input type="checkbox" id="chkCustomSprite"/>Custom Sprite
					</label>
				</td>
			</tr>
		</tbody>
	</table>
	<p>Gender</p>
	<table>
		<tbody>
			<tr>
				<td>
					<label>
						<input type="checkbox" id="chkMale"/>Male
					</label>
				</td>
				<td>
					<label>
						<input type="checkbox" id="chkFemale"/>Female
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<label>
						<input type="checkbox" id="chkNoGender"/>No Gender
					</label>
				</td>
			</tr>
		</tbody>
	</table>
	<p>Custom Search</p>
	<div class="tooltip">Custom Search Helps
		<span class="tooltiptext">To custom search a Pokémon or Egg you check the "custom" checkbox and you need the 'IMAGE CODE' from that Pokémon or Egg.
			<br></br>
				Example: I want to find a Charmander. This is the image code for Charmander:
			<br></br>
				"pfq-static.com/img/pkmn/5/l/t.png".
			<br></br>
				Paste that in the textfield and save settings.
			<br></br>
				Voila, you can now find charmanders in the Shelter!
			<br></br>
			<br></br>
				<a href="https://docs.google.com/spreadsheets/d/1rD1VZNTQRYXMOVKvGasjmMdMJu-iheE-ajsFkfs4QXA/edit?usp=sharing">List of Eggs Image Codes</a>
			<br></br>
			<br></br>
				More information that probably helps more then my explanation:
			<br></br>
			<br></br>
				<a href="https://pokefarm.com/forum/thread/127552/Site-Skins-How-To-and-Helpful-CSS>"Pokémon Modifications" > "Make Shelter Pokemon Stand Out"</a>
			</span>
		</div>
		
		<table>
			<tbody>
				<tr>
					<td>
						<input type =checkbox id = chkcustom value = true/>
						<label for = chkcustom>Custom</label>
					</td>
					<td>
						<input type="text" id = chkcustominput name="customsearch">
						</td>
							</tr>
						</tbody>
					</table>
				</div>
