	<table>
	    <tbody>
	        <tr>
	            <td>
	                <label>
	                    <input type="checkbox" class="qolsetting" data-key="customEgg"/>Custom Egg
	                </label>
	            </td>
	            <td>
	                <label>
	                    <input type="checkbox" class="qolsetting" data-key="customPokemon"/>Custom Pokémon
	                </label>
	            </td>
	        </tr>
	        <tr>
	            <td>
	                <label>
	                    <input type="checkbox" class="qolsetting" data-key="customPng"/>By img code
	                </label>
	            </td>
	        </tr>
	    </tbody>
	</table>
	<p>Gender</p>
	<table>
		<tbody>
			<tr>
				<td>
					<label>
						<input type="checkbox" class="qolsetting" data-key="findMale"/>Male
					</label>
				</td>
				<td>
					<label>
						<input type="checkbox" class="qolsetting" data-key="findFemale"/>Female
					</label>
				</td>
			</tr>
			<tr>
				<td>
					<label>
						<input type="checkbox" class="qolsetting" data-key="findNoGender"/>No Gender
					</label>
				</td>
			</tr>
		</tbody>
	</table>
	
    <p>Search Keys</p>
	<input type='button' value='Add' id='addShelterTextfield'>
	<input type='button' value='Remove' id='removeShelterTextfield'>
    <table>
		<tbody>
			<tr>
				<td>
					<label>
						<input type="text" class="qolsetting" data-key="findCustom"/>
					</label>
				</td>
			</tr>
		</tbody>
	</table>
</div>