<h3>QoL Settings</h3>

<div id = shelteroptionsqol>
	<p> Check the boxes of Pokémon you wish to find in the shelter!</p>
	<table>
		<tbody>
			<tr>
				<td>
					<input type =checkbox id = chknewEgg value = true/>
					<label for = chknewEgg>New Egg</label>
				</td>
				<td>
					<input type =checkbox id = chknewPokemon value = true/>
					<label for = chknewPokemon>New Pokémon</label>
				</td>
			</tr>
			<tr>
				<td>
					<input type =checkbox id = chknewShiny value = true/>
					<label for = chknewShiny>Shiny</label>
				</td>
				<td>
					<input type =checkbox id = chknewAlbino value = true/>
					<label for = chknewAlbino>Albino</label>
				</td>
			</tr>
			<tr>
				<td>
					<input type =checkbox id = chknewMelanistic value = true/>
					<label for = chknewMelanistic>Melanistic</label>
				</td>
				<td>
					<input type =checkbox id = chknewPrehistoric value = true/>
					<label for = chknewPrehistoric>Prehistoric</label>
				</td>
			</tr>
			<tr>
				<td>
					<input type =checkbox id = chknewDelta value = true/>
					<label for = chknewDelta>Delta</label>
				</td>
				<td>
					<input type =checkbox id = chknewMega value = true/>
					<label for = chknewMega>Mega</label>
				</td>
			</tr>
			<tr>
				<td>
					<input type =checkbox id = chknewStarter value = true/>
					<label for = chknewStarter>Starter</label>
				</td>
			</tr>
		</tbody>
	</table>
	<p>Gender</p>
	<table>
		<tbody>
			<tr>
				<td>
					<input type =checkbox id = chkmale value = true/>
					<label for = chkmale>Male</label>
				</td>
				<td>
					<input type =checkbox id = chkfemale value = true/>
					<label for = chkfemale>Female</label>
				</td>
			</tr>
			<tr>
				<td>
					<input type =checkbox id = chknone value = true/>
					<label for = chknone>No gender</label>
				</td>
			</tr>
		</tbody>
	</table>
	<p>Custom Search</p>
	<div class="tooltip">Custom Search Help
		<span class="tooltiptext">To custom search a Pokémon or Egg you check the "custom" checkbox and you need the 'IMAGE CODE' from that Pokémon or Egg.
			<br></br>
				Example: I want to find a Charmander. This is the image code for Charmander:
			<br></br>
				"pfq-static.com/img/pkmn/5/l/t.png".
			<br></br>
				Paste that in the textfield and save settings.
			<br></br>
				Voila, you can now find charmanders in the Shelter!
			<br></br>
			<br></br>
				<a href="https://docs.google.com/spreadsheets/d/1rD1VZNTQRYXMOVKvGasjmMdMJu-iheE-ajsFkfs4QXA/edit?usp=sharing">List of Eggs Image Codes</a>
			<br></br>
			<br></br>
				More information that probably helps more then my explanation:
			<br></br>
			<br></br>
				<a href="https://pokefarm.com/forum/thread/127552/Site-Skins-How-To-and-Helpful-CSS>"Pokémon Modifications" > "Make Shelter Pokemon Stand Out"</a>
			</span>
		</div>
		
		<table>
			<tbody>
				<tr>
					<td>
						<input type =checkbox id = chkcustom value = true/>
						<label for = chkcustom>Custom</label>
					</td>
					<td>
						<input type="text" id = chkcustominput name="customsearch">
						</td>
							</tr>
							<tr>
								<td>
									<button type = "submit" button id = "saveshelter">Save Settings</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>